[Unit]
Description=Bot
After=postgresql.service

[Service]
Type=simple
Restart=always
User=revmin
WorkingDirectory=/home/revmin/Monet_Bot
ExecStart=/home/revmin/Monet_Bot/venv/bin/python3 /home/revmin/Monet_Bot/app.py
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target